@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --cor-1: #4C1F38;
    --cor-2: #1F0A19;
    --cor-3: #5B9E9E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulos: font-family: "Karla", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-1);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor-2);
    min-height: 100px;
}

header > h1 {
    color: var(--cor-1);
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
    font-family: var(--fonte-titulos);
    font-size: 2em;
    font-weight: bold;
    min-width: 300px;
    max-width: 400px;
    margin: auto;
    padding-top: 10px;
}

nav {
    background-color: var(--cor-2);
    padding: 10px;
    display: flex;
    min-height: 30px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.370);
}

nav > ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    min-width: 300px;
    width: 100%;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-1);
}

/*Em 300px de largura está comendo o "Fale Conosco"*/

nav a:hover {
    color: var(--cor-2);
    background-color: var(--cor-1);
    border-radius: 8px;
    padding: 5px;
    transition-duration: 0.5s;
}

main {
    padding-bottom: 30px;
    background-color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.420);
}

main h2 {
    font-family: var(--fonte-titulos);
    font-size: 2em;
    font-weight: bold;
    color: var(--cor-2);
    padding: 5px 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
}

main h3 {
    font-family: var(--fonte-titulos);
    font-size: 1.4em;
    font-weight: bold;
    color: var(--cor-2);
    padding: 0px 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
}

main p{
    text-align: justify;
    margin: 10px 0px;
    text-indent: 30px;
    font-size: 1.1em;
    padding: 0px 20px;
    line-height: 1.4em;
}

main img {
    margin: 30px 0px 10px 0px;
    width: 100%;
}

#acima_do_video {
    margin-bottom: 40px;
}

div.video {  /*CENTRALIZAR E TORNAR O VÍDEO DO YOUTUBE RESPONSÍVEL*/
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

div.video > iframe {  /*CONTINUAÇÃO*/
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

section#abaixo_do_video {
    margin: 30px 10px 0px 10px;
    justify-content: center;
}

section > h2 {
    background-color: var(--cor-2);
    color: var(--cor-1);
    text-align: center;
    font-size: 2.5em;
    border-radius: 15px 15px 0px 0px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
}

div.pai {
    background-color: var(--cor-2);
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 70px;
}

div.filhos {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 600px;
    border-radius: 10px;
    background-color: var(--cor-1);
}

div.filhos:hover {
    width: 310px;
    transition-duration: 0.5s;
}


div.imagem  img {
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

h3.subtitulo_pricipais_tipos {
    padding: 0px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--cor-2);
    background-color: var(--cor-1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
}

p.paragrafo_principais_tipos {
    display: flex;
    text-align: center;
    margin: 0px;
    text-indent: 0px;
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px 0px 0px 0px;
    line-height: 1.2em;
    color: var(--cor-2);
    background-color: var(--cor-1);
}

footer {
    background-color: var(--cor-2);
    color: var(--cor-1);
}

footer > h1 {
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
    font-family: var(--fonte-titulos);
    font-size: 2em;
    font-weight: bold;
    min-width: 300px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px 0px 0px 0px;
    border-bottom: 3px solid var(--cor-1);
}

footer > ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    min-width: 300px;
    width: 100%;
    justify-content: center;
}


footer li {
    list-style: none;
}

a img {
    height: 30px;
    width: 30px;
}
